@import "tailwindcss";

:root {
  --background: #030712;
  --foreground: #f9fafb;
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-geist-sans), Arial, Helvetica, sans-serif;
}

html {
  scroll-behavior: smooth;
}
